apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-master-nfs-pv
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 2Gi
  nfs:
    path: /srv/nfs/jenkins-master
    server: {{ nfs_ip }}
    readOnly: false

